@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.kotak {
    background: linear-gradient(#F1CBE8, #CEAEEB);
    height: 85px;
    border-bottom: 1px solid;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav div img {
    width: 165px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: black;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(165, 42, 42, 0)
}

nav ul li a:hover {
    color: brown;
    border-bottom: 1px solid black
}

.footer-container {
    margin-top: 5px;
    background-color: #BFAEDB;
    width: 100%;
    padding: 1rem 2rem;
}

.footer-container p {
    font-family: Poppins, sans-serif;
}

.header-footer {
    padding-top: 1px;
    border-bottom: 1.5px solid; margin-bottom: 1%;
}

.contact-footer {
    border-left: 1.5px solid;
    border-right: 1.5px solid;
}