@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.kotak {
    background: linear-gradient(#F1CBE8, #CEAEEB);
    height: 85px;
    border-bottom: 1px solid;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav div img {
    width: 165px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: black;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(165, 42, 42, 0)
}

nav ul li a:hover {
    color: brown;
    border-bottom: 1px solid black
}

.content-best-seller {
    padding: 1rem 2rem;
}

.card-body {
    box-shadow: 15px 20px 20px rgba(0,0,0,0.3);
}

div h1 {

    font-size: 180%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5%;
}

.content-about-us img {
    margin-top: 8%;
    width: 100%;
}

.gambar-product {
    background-image: url("img/low\ ph.jpg");
    background-size: cover;
}

.gambar-product2 {
    background-image: url("img/niacinemide.jpg");
    background-size: cover;
}

.gambar-product3 {
    background-image: url("img/calmdown.jpg");
    background-size: cover;
}

.gambar-product4 {
    background-image: url("img/HOOMAN_UNDER_CONTROL_WEBSITE.jpg");
    background-size: cover;
}

.gambar-product5 {
    background-image: url("img/SS-TINT-COVER--VARIAN-BHI-02.jpg");
    background-size: cover;
}

.gambar-product6 {
    background-image: url("img/PDP-WHITEBG_CHECKMATTE-COVER-NEW.jpg");
    background-size: cover;
}

.gambar-product7 {
    background-image: url("img/WAXING_KIT.jpg");
    background-size: cover;
}

.gambar-product8 {
    background-image: url("img/Bust_Firming-2.png");
    background-size: cover;
}

.gambar-product9 {
    background-image: url("img/Axillary_Brightening_Cream1.jpg");
    background-size: cover;
}

.kotak-about {
    background-color: #D9CCF4;
    padding: 1rem 3rem;
}


.kotak-about p {
    text-align: center;
}

.footer-container {
    margin-top: 15%;
    background-color: #BFAEDB;
    width: 100%;
    padding: 1rem 2rem;
}

.footer-container p {
    font-family: Poppins, sans-serif;
}

.header-footer {
    padding-top: 1px;
    border-bottom: 1.5px solid; margin-bottom: 1%;
}

.contact-footer {
    border-left: 1.5px solid;
    border-right: 1.5px solid;
}